.box {
    width: 100px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;

}

.content {
    background-color: aquamarine;
    color: rgb(255, 0, 0);
}

.newClass {
    background-color: blueviolet;
    color: green;
}