html{
    margin: 0;
}


.navbar{
    display: block;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

a{
    width: 100px;
    height: 40px;
    border: solid black 2px;
    display: inline-block;
    background-color: rgb(186, 189, 193);
    color: black;
}

.span{
    display: block;
}

.canvas{
    text-align: center;
    margin: 100px auto 100px;
    width: 80%;
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;

}

#grey{
    background-color: grey;
}

#white{
    background-color: aliceblue;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}