#box1 {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-bottom: 15px;
}
#box2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

#hovertext {
    height: 100px;
    width: 100px;
    background-color: aqua;
    color: brown;
    border: 1px solid black;
}